<div class="container">
    <h2 style="text-align: center;">{{title_persons_management_gral}}</h2>
    <div class="card">
        <div class="card-body">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>{{title_persons_management_list}}</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="input-group">
                            <input type="text" class="form-control rounded" placeholder="Buscar por ID" aria-label="Search" aria-describedby="search-addon" id="buscar" name="buscar" [(ngModel)]="searchingId" minlength="1" maxlength="12" autocomplete="off" />
                            <button type="button" class="btn btn-primary" [disabled]="!searchingId" (click)="getPersonsListAllById()">{{button_title_person_search}}</button>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table table-content table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>{{grid_table_person_id}}</th>
                                    <th>{{grid_table_person_name}}</th>
                                    <th>{{grid_table_person_lastName}}</th>
                                    <th>{{grid_table_person_male}}</th>
                                    <th>{{grid_table_person_email}}</th>
                                    <th>{{grid_table_person_category}}</th>
                                    <th style="text-align: center;">{{grid_table_person_actions}}</th>
                                </tr>                    
                            </thead>
                            <tbody>
                                <tr *ngFor="let person of prsListAll">
                                    <td>{{person.idPerson}}</td>
                                    <td>{{person.name}}</td>
                                    <td>{{person.lastName}}</td>
                                    <td>{{person.male}}</td>
                                    <td>{{person.email}}</td>
                                    <td>{{person.categoryName}}</td>
                                    <td align="center">
                                        <a (click)="openModalPersonDetails(person.idPerson)" class="view" title="View" data-toggle="tooltip">
                                            <i class="material-icons">&#xE417;</i>
                                        </a>
                                        <a (click)="personEdit(person.idPerson)" class="edit" title="Edit" data-toggle="tooltip">
                                            <i class="material-icons">&#xE254;</i>
                                        </a>
                                        <a (click)="openModalPersonDelete(person.idPerson)" class="delete" title="Delete" data-toggle="tooltip">
                                            <i class="material-icons">&#xE872;</i>
                                        </a>
                                    </td>
                                </tr>
                                <tr *ngIf="prsListAll.length == 0">
                                    <td colspan="7" style="text-align: center; font-weight: bold;">{{messageResponse}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div>
        <button class="btn btn-primary" style="float: right;" (click)="openFormPersonCreate()">{{button_title_new_person_create}}</button>
    </div>
    <br/><br/>
</div>
<footer class="footer">
    <div class="container" style="text-align: center;">
        <span>Realizado por Ing. Patricio Rojas Contreras &copy;2023</span>
    </div>
</footer>

<ng-template #myModalPersonCreate let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{titleFormPersonCreate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="name">{{formPersonName}}</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="formPersonCreate.name" #name="ngModel" minlength="2" maxlength="49" pattern="^[a-zA-ZáéíóúÁÉÍÓÚäëïöüÄËÏÖÜàèìòùÀÈÌÒÙñÑ\s]+$" autocomplete="off" >
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
                <div *ngIf="name.errors?.['minlength']" class="errorMessageForm">{{errorMessageMinLengthName}}</div>
                <div *ngIf="name.errors?.['pattern']" class="errorMessageForm">{{errorMessageInvalidName}}</div>
            </div>
        </div>
        <div class="form-group">
            <label for="lastName">{{formPersonLastName}}</label>
            <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="formPersonCreate.lastName" #lastName="ngModel" minlength="2" maxlength="49" pattern="^[a-zA-ZáéíóúÁÉÍÓÚäëïöüÄËÏÖÜàèìòùÀÈÌÒÙñÑ\s]+$" autocomplete="off" >
            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert">
                <div *ngIf="lastName.errors?.['minlength']" class="errorMessageForm">{{errorMessageMinLengthLastName}}</div>
                <div *ngIf="lastName.errors?.['pattern']" class="errorMessageForm">{{errorMessageInvalidLastName}}</div>
            </div>
        </div>
        <div class="form-group">
            <label for="male">{{formPersonMale}}</label>
            <select class="form-control" id="male" name="male" [(ngModel)]="formPersonCreate.male">
                <option value="">Seleccione</option>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
            </select>
        </div>
        <div class="form-group">
            <label for="uEmail">{{formPersonEmail}}</label>
            <input type="text" class="form-control" id="uEmail" name="uEmail" [(ngModel)]="formPersonCreate.email" autocomplete="off" (ngModelChange)="getInvalidEmailWithDetails($event)" >
            <div *ngIf="!disabledGetEmailWithDetails" class="alert">
                <div *ngIf="!disabledInvalidPatternEmail" class="errorMessageForm">{{errorMessageInvalidEmail}}</div>
                <div *ngIf="!disabledCheckEmail" class="errorMessageForm">{{errorMessageCheckEmailPersonExist}}</div>
            </div>
        </div>
        <div class="form-group">
            <label for="category">{{formPersonCategory}}</label>
            <select class="form-control" id="category" name="category" [(ngModel)]="formPersonCreate.category">
                <option value=0>Seleccione</option>
                <option *ngFor="let category of ctsListAll" value="{{category.idCategory}}">{{category.categoryName}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="cancelPersonCreate()">{{formPersonCancelBtn}}</button>
        <button type="button" class="btn btn-outline-dark" [disabled]="!formPersonCreate.name || !formPersonCreate.lastName || !formPersonCreate.male || !formPersonCreate.email || !formPersonCreate.category || name.errors?.['minlength'] || name.errors?.['pattern'] || lastName.errors?.['minlength'] || lastName.errors?.['pattern'] || !disabledGetEmailWithDetails || !disabledInvalidPatternEmail || !disabledCheckEmail" (click)="personCreate()">{{formPersonCreateBtn}}</button>
    </div>
</ng-template>

<ng-template #myModalPersonUpdate let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{titleFormPersonUpdate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="editIdPerson">{{formPersonId}}</label>
            <input type="text" class="form-control" id="editIdPerson" name="editIdPerson" [(ngModel)]="formPersonEdit.idPerson" disabled="disabled" autocomplete="off">
            <input type="hidden" [(ngModel)]="idPersonAntidisabled">
        </div>
        <div class="form-group">
            <label for="editName">{{formPersonName}}</label>
            <input type="text" class="form-control" id="editName" name="editName" [(ngModel)]="formPersonEdit.name" #errorEditPersonName="ngModel" minlength="2" maxlength="49" pattern="^[a-zA-ZáéíóúÁÉÍÓÚäëïöüÄËÏÖÜàèìòùÀÈÌÒÙñÑ\s]+$" autocomplete="off">
            <div *ngIf="errorEditPersonName.invalid && (errorEditPersonName.dirty || errorEditPersonName.touched)" class="alert">
                <div *ngIf="errorEditPersonName.errors?.['minlength']" class="errorMessageForm">{{errorMessageMinLengthName}}</div>
                <div *ngIf="errorEditPersonName.errors?.['pattern']" class="errorMessageForm">{{errorMessageInvalidName}}</div>
            </div>
        </div>
        <div class="form-group">
            <label for="editLastName">{{formPersonLastName}}</label>
            <input type="text" class="form-control" id="editLastName" name="editLastName" [(ngModel)]="formPersonEdit.lastName" #errorEditPersonLastName="ngModel" minlength="2" maxlength="49" pattern="^[a-zA-ZáéíóúÁÉÍÓÚäëïöüÄËÏÖÜàèìòùÀÈÌÒÙñÑ\s]+$" autocomplete="off">
            <div *ngIf="errorEditPersonLastName.invalid && (errorEditPersonLastName.dirty || errorEditPersonLastName.touched)" class="alert">
                <div *ngIf="errorEditPersonLastName.errors?.['minlength']" class="errorMessageForm">{{errorMessageMinLengthLastName}}</div>
                <div *ngIf="errorEditPersonLastName.errors?.['pattern']" class="errorMessageForm">{{errorMessageInvalidLastName}}</div>
            </div>
        </div>
        <div class="form-group">
            <label for="editMale">{{formPersonMale}}</label>
            <select class="form-control" id="editMale" name="editMale" [(ngModel)]="formPersonEdit.male">
                <option value="">Seleccione</option>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
            </select>
        </div>
        <div class="form-group">
            <label for="editEmail">{{formPersonEmail}}</label>
            <input type="text" class="form-control" id="editEmail" name="editEmail" [(ngModel)]="formPersonEdit.email" #errorEditPersonEmail="ngModel" maxlength="149" pattern="^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$" autocomplete="off">
            <div *ngIf="errorEditPersonEmail.invalid && (errorEditPersonEmail.dirty || errorEditPersonEmail.touched)" class="alert">
                <div *ngIf="errorEditPersonEmail.errors?.['pattern']" class="errorMessageForm">{{errorMessageInvalidEmail}}</div>
            </div>
        </div>
        <div class="form-group">
            <label for="editCategory">{{formPersonCategory}}</label>
            <select class="form-control" id="editCategory" name="editCategory" [(ngModel)]="formPersonEdit.personCategory">
                <option value=0>Seleccione</option>
                <option *ngFor="let category of ctsListAll" value="{{category.idCategory}}">{{category.categoryName}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="cancelPersonUpdate()">{{formPersonCancelBtn}}</button>
        <button type="button" class="btn btn-outline-dark" [disabled]="!idPersonAntidisabled || !formPersonEdit.name || !formPersonEdit.lastName || !formPersonEdit.male || !formPersonEdit.email || !formPersonEdit.personCategory || errorEditPersonName.errors?.['minlength'] || errorEditPersonName.errors?.['pattern'] || errorEditPersonLastName.errors?.['minlength'] || errorEditPersonLastName.errors?.['pattern'] || errorEditPersonEmail.errors?.['pattern']" (click)="personUpdate()">{{formPersonUpdateBtn}}</button>
    </div>
</ng-template>

<ng-template #myModalPersonDeletePreviusConfirm let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{titleFormPersonDelete}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        {{textDescriptionModalDeletePerson}}
        <input type="hidden" name="idPersonDel" [(ngModel)]="personIdDelete" value="">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="cancelPersonDelete()">{{formPersonCancelBtn}}</button>
        <button type="button" class="btn btn-outline-dark" (click)="confirmPersonDelete()">{{formPersonDeleteBtn}}</button>
    </div>
</ng-template>

<ng-template #myModalPersonDataView let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{titleFormPersonDetails}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p><b>{{formPersonId}}:</b> {{readPersonDetails.idPerson}}</p>
        <p><b>{{formPersonName}}:</b> {{readPersonDetails.name}} {{readPersonDetails.lastName}}</p>
        <p><b>{{formPersonMale}}:</b> {{readPersonDetails.male}}</p>
        <p><b>{{formPersonEmail}}:</b> {{readPersonDetails.email}}</p>
        <p><b>{{formPersonCategory}}:</b> {{readPersonDetails.categoryName}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="closeModalPersonDetails()">{{formPersonDetailsCloseBtn}}</button>
    </div>
</ng-template>

